[url "git@github.com:"]
  insteadOf = "https://github.com/"
[user]
  name = Adam Buechler
  email = butchler@gmail.com
[pull]
  ff = only
[alias]
  c = checkout
  fc = "!f() { git fetch origin $1; git checkout $1; }; f"
  v = commit -v
  a = commit -v --amend
  pushf = push --force-with-lease
  repull = pull --rebase origin HEAD
  repulli = pull --rebase=interactive origin HEAD
  reup = "!branch=$(git rev-parse --abbrev-ref HEAD); git fetch origin $branch && git reset --hard @{upstream}"
  s = show --compact-summary -p
  m = commit -m
  rework = "!f() { git rebase -i $(git merge-base HEAD FETCH_HEAD); }; f"
  ri = rebase -i origin/HEAD
  rc = rebase --continue
  ra = rebase --abort
[push]
  default = current
[core]
  hooksPath = /Users/adam/.git-hooks/
  pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  newHighlight = green reverse
[merge]
  # Copied from https://stackoverflow.com/a/18131595
  conflictstyle = diff3
