[url "git@github.com:"]
  insteadOf = "https://github.com/"
[user]
  name = Adam Buechler
  email = butchler@gmail.com
[pull]
  ff = only
[alias]
  c = checkout
  v = commit -v
  a = commit -v --amend
  pushf = push --force-with-lease
  repull = pull --rebase origin master
  repulli = pull --rebase=interactive origin master
  reup = !git fetch origin && git reset --hard @{upstream}
  s = show --compact-summary -p
  fixup = !git commit -v -m fixup && git rework
  rework = "!f() { git rebase -i $(git merge-base HEAD origin/master); }; f"
  ri = rebase -i origin/master
  rc = rebase --continue
  ra = rebase --abort
[push]
  default = current
[core]
  hooksPath = /Users/adam/.git-hooks/
  pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  newHighlight = green reverse
[merge]
  # Copied from https://stackoverflow.com/a/18131595
  conflictstyle = diff3
