//registry.npmjs.org/:_authToken=e9d6b2e8-6f90-428f-9287-8e9e24ed5ed5
//npm.aws.iknow.jp:4873/:_authToken="H5Vx0pSppLqjcH913iWtHD9acv+P7H/1PAlHo5o4VqE="
registry=http://npm.aws.iknow.jp:4873
always-auth=true
